div.index-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    grid-column-gap: 8px;
    grid-row-gap: 16px;
    margin-bottom: 32px;;
}

div.general-title {
    grid-column: auto / span 2;
}

div.index-popup-match-parent {
    width: 320px;
    height: 60vh;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
    justify-self: center;
    align-self: center;
    padding:4px;
    display: grid;
    grid-template-rows: 1fr 40px;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

div.index-popup-match-grid-outer {
    grid-column: auto / span 3;
    overflow: auto;
    padding-bottom: 16px;
}

div.index-popup-match-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-gap: 8px;
    grid-column-gap: 8px;
}

div.index-popup-match-image {
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: auto / span 2;
}

div.general-label {
    padding-left: 4px;
    padding-right: 4px;
}

.general-label.calc {
    color: blue;
    cursor: pointer;
}